node_modules
.next
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
npm-debug.log
yarn-debug.log
yarn-error.log
.env*.local
.vscode
.idea
*.md
.DS_Store
coverage
.cache
dist
build
tests
allure-results
allure-report
playwright-report