# API
NEXT_PUBLIC_API_URL=

# Keycloak
KEYCLOAK_HOST=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_REALM=

# Test Auth (E2E 테스트용)
AUTH_USERNAME=
AUTH_PASSWORD=

# NextAuth
NEXTAUTH_SECRET=
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
AUTH_ISSUER=
NEXTAUTH_URL=
